<h2>Edit Book</h2>
<form action="/edit/<%= book._id %>?_method=PUT" method="POST">
  <input type="text" name="title" value="<%= book.title %>"><br>
  <input type="text" name="author" value="<%= book.author %>"><br>
  <input type="number" name="price" value="<%= book.price %>"><br>
  <input type="text" name="category" value="<%= book.category %>"><br>
  <input type="text" name="image" value="<%= book.image %>"><br>
  <textarea name="description"><%= book.description %></textarea><br>
  <button type="submit">Update</button>
</form>